@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");

$Color: rgb(45, 211, 147);
$bgColor: #fafafb;
$lightBgColor: rgba(30, 41, 82, 0.1);
$fontColor: #000;

body {
  background-color: $bgColor;
  color: $fontColor;
}
a {
  cursor: pointer;
}
